<!DOCTYPE html>
<html>
<style>
    html {
        scroll-behavior: smooth;
    }
</style>
<head>
    <title>Visit NL</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel = "stylesheet" href = "/Stylesheets/main.css">
</head>

<body>
    <nav class="navbar navbar-dark justify-content-between" style="background-color:black; margin-bottom: -25px;" >
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Home</a>
                <a class="navbar-brand" href="/places">Destinations</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- if no user -->
                    <% if(!currentUser) { %>
                        <li><a href="/login" class="navbar-brand">Login</a></li>
                    <% } else { %>
                        <li><a href="/users/<%= currentUser.id %>" class="navbar-brand">Signed in as <%= currentUser.username %></a></li>
                        <li><a href="/logout" class="navbar-brand" >Logout</a></li>
                    <% } %>
                    <li style="padding-top: 6px;">
                        <form class="form-inline" action="/places" method="GET" >
                            <input class="form-control mr-sm-2" type="text" name="search" placeholder="Place search...">
                            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </li>
                </ul>

            </div>


        </div>
    </nav>

<div style="margin-top: 25px; margin-left: 200px; width: 400px;">
    <% if(error && error.length > 0) { %>
        <div class="alert alert-danger" role = "alert">
            <%= error %>
        </div>
        <% } %>
        <% if(success && success.length > 0) { %>
        <div class="alert alert-success" role = "alert">
            <%= success %>
        </div>
        <% } %>     
</div>
