<% include ../partials/header %>

<style>
img:hover {
    opacity: 0.8;
}
body {
    background-image: url("places/battery.png");
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>

<!-- <h4><%= currentUser %></h4> -->
<div class="container">
<div class = "row" style="border: 1px thin black;"> 
    <p>
        <a id = "add" class = "btn btn-primary btn-large" href="/places/new"  style="margin-left:12px;">Add new places you have visited</a>
    </p>
</div>
    <div class="row text-center" style = "display:flex; flex-wrap:wrap;">
        <% places.forEach(function(places){ %>
        <div class="col-md-3 col-sm-6" stye="width: 280px; height: 300px; padding: 15px; padding-bottom: 12px">
            <div class="thumbnail" >
                <a href="/places/<%= places._id %>">
                    <img src="<%= places.image %>" class="img-responsive" class="rounded" style="width: 300px; height: 200px;">
                </a>
            <div class ="caption">
                    <h4><%= places.name %></h4>
            </div>
        </div>           
    </div>
        <% }); %>
    </div>
</div>
</div>
</div>


   


<% include ../partials/footer %>