<% include ./partials/header %>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet"> 
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
</head>
<style>
    * {  
    font-family: 'Exo', sans-serif;
    }

    .part_1 {
        background-image: url(https://d3qvqlc701gzhm.cloudfront.net/full/4788d29806caac9229c9d10cee23b2c4a631af829729ad16dc9b6654722d912a.jpg);
        min-height: 700px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    @import url(https://fonts.googleapis.com/css?family=Raleway:600);
    h1 {
        color: #fff;
        font-family: 'Raleway', sans-serif;
        font-size: 500%;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        padding-top: 200px;       
    }

    h2 {
        color: #fff;
        font-family: 'Raleway', sans-serif;
        font-size: 300%;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
    }

    h3 {
        color: #fff;
        font-family: 'Raleway', sans-serif;
        font-size: 200%;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        padding-top: 100px; 
    }


</style>

<body>
    <!-- Introduction -->
    <div class = "part_1">
            <h1>
                <span class="animated bounceInDown delay-1s">Welcome to VisitNL</span> 
            </h1>

            <h2>
                <span class="animated bounceInLeft delay-2s">Discover and let the world discover</span> 
            </h2>
            <h2>
                <span class="animated bounceInLeft delay-2s"> <a class="btn btn-success" href="/register" role="button">Get Started</a></span>
            </h2>
    </div>


<!-- <a class= ""href = "/places">View all Places</a> -->

<% include ./partials/footer %>

