<% include ./partials/header %>



<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet"> 
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
</head>
<style>
    * {  
      font-family: 'Exo', sans-serif;
      }
    
    body {
      background-image: url(https://d3qvqlc701gzhm.cloudfront.net/full/f9b3204c5d49b44c4da37f914346e84e43f26e451fc5bbd7a10dfb94c55e28b6.jpg);
      background-repeat: round;
      background-attachment: fixed;
      background-size: 100%;        
    }

    .row {
      margin-top: 70px;
    }

</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<div class="container">
	<div class="row" >
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default" >
              <div class="panel-body" > 
                <div class="text-center">
                  <h3><i class="fa fa-sign-in-alt fa-4x"></i></h3>
                  <h2 class="text-center">Login Now</h2>
                  <p>Enter your username and password</p>
                  <div class="panel-body">
                    <form id="register-form" role="form" autocomplete="off" class="form" action="/login" method="POST">   
                      <div class="form-group">
                        <div class="input-group">
														<span class="input-group-addon"><i class="fas fa-user"></i></span>
                            <input  class = "form-control" type="text" name="username" placeholder="username">
                          </div>
											</div>
											<div class="form-group">
													<div class="input-group">
															<span class="input-group-addon"><i class="fas fa-key"></i></span>
                              <input class = "form-control" type="password" name="password" placeholder="password">

                            </div>
												</div>							
                      <div class="form-group">
                        <input name="login" class="btn btn-lg btn-primary btn-block" value="Login" type="submit">
                      </div>
                      
                      <input type="hidden" class="hide" name="token" id="token" value=""> 
                    </form>
                    <a href="/places">Go Back!</a>
                    <br>
                    <a href="/register"><em>Click here to create an account</em></a>
                    <br>
                    <a href="/forgot">Forgot Password?</a>
                
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>

<% include ./partials/footer %>
